@import url("https://hangeul.pstatic.net/hangeul_static/css/maru-buri.css");
@import "tailwindcss";
@import "./fonts.css";

@theme {
    --color-text-primary: #FFFFFF;
    --color-text-secondary: #AEAEAE;
    /*--color-text-disabled: #737373;*/

    --color-background-primary: #050505;
    --color-background-secondary: #131313;
    /*--color-background-hover: #FFFFFF09;*/

    --font-primary: "Eulyoo";
}

@layer base {
    html, body {
        background-color: var(--color-background-primary);
        color: var(--color-text-primary);
        font-family: var(--font-primary), sans-serif;
    }

    h1 {
        @apply text-5xl font-extrabold tracking-tight mb-6;
    }
    h2 {
        @apply text-4xl font-bold tracking-tight mb-5;
    }
    h3 {
        @apply text-3xl font-bold mb-4;
    }
    h4 {
        @apply text-2xl font-semibold mb-3;
    }
    h5 {
        @apply text-xl font-semibold mb-2;
    }
    h6 {
        @apply text-lg font-medium mb-2;
    }
    p {
        @apply text-lg;
    }
    small {
        @apply text-sm;
    }
}